
<footer class="page-footer blue hide-print" style="width: 100%; bottom: 0px;">
  <div class="container">
    <div class="footer-copyright">
      <p class="center">
        © 2017 Shake Trend. Sitios Web y Sistemas
      </p>
    </div>
  </div>
</footer>

<!-- Import jQuery-2.1.1.min.js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Import Materialize.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script type="text/javascript">
var apiServer = 'http://104.236.20.251:3002/api/v1/';
var appServer = 'http://104.236.20.251:7000/';
//var appServer = 'http://localhost:7000/';

function formatDate(date){
  var d = new Date(date);
  console.log(date);
  return  (d.getDate()) + '/' +(d.getMonth() + 1) + '/' + d.getFullYear();
}

function formatDateWS(date){
  var d = new Date(date);
  console.log(date);
  return  d.getFullYear() + '/' +(d.getMonth() + 1) + '/' + (d.getDate()) ;
}

function getCurrentDate(){
  var today = new Date();

  var dd = today.getDate();
  var mm = today.getMonth()+1;
  var yyyy = today.getFullYear();

  if(dd<10){
    dd='0'+dd;
  }
  if(mm<10){
    mm='0'+mm;
  }
var fecha = yyyy + '/' + mm + '/' + dd;
console.log(fecha);
  return fecha;
}

$(document).ready(function(){
  $(".button-collapse").sideNav();
  $('.tooltipped').tooltip({delay: 50});
  $('select').material_select();
  $('.modal').modal();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

  var rol = window.localStorage.getItem('rol');
  if(rol !== 'ADMIN'){
    $('.hid-bar').hide();
    if(rol == 'ADMINISTRATIVO'){
      $('.administrativo').show();
    } else if(rol == 'OPERATIVO'){
      $('.operativo').show();
    } else if(rol == 'COMUN'){
      $('.comun').show();
    }
  }
});
</script>
