
<footer class="page-footer blue" style="width: 100%; bottom: 0px;">
  <div class="container">
    <div class="footer-copyright">
      <p class="center">
        © 2017 Shake Trend. Sitios Web y Sistemas
      </p>
    </div>
  </div>
</footer>

<!-- Import jQuery-2.1.1.min.js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Import Materialize.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript">
function getCurrentDate(){
  var today = new Date();

  var dd = today.getDate();
  var mm = today.getMonth()+1;
  var yyyy = today.getFullYear();

  if(dd<10){
    dd='0'+dd;
  }
  if(mm<10){
    mm='0'+mm;
  }
var fecha = yyyy + '/' + mm + '/' + dd;
console.log(fecha);
  return fecha;

}
</script>
<script src="../js/general.js"></script>
