<nav class="blue">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Factu</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/facturas">Facturas</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/clientes">Clientes</a></li>
      <li><a href="/usuarios">Usuarios</a></li>
      <li><a href="/configuracion">Configuracion</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/caja">Caja</a></li>
      <li><a href="/cajachica">Caja Chica</a></li>
      <li><a href="http://shaketrend.com/datos.html">Soporte</a></li>
      <li><a href="/logout">Salir</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/facturas">Facturas</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/clientes">Clientes</a></li>
      <li><a href="/usuarios">Usuarios</a></li>
      <li><a href="/configuracion">Configuracion</a></li>
      <li><a href="/caja">Caja</a></li>
      <li><a href="/cajachica">Caja Chica</a></li>
      <li><a href="http://shaketrend.com/datos.html">Soporte</a></li>
      <li><a href="/logout">Salir</a></li>
    </ul>
  </div>
</nav>
