<!DOCTYPE html>
<html>
<head>
  <% include /partial/head %>
  <title>Caja</title>
</head>
<body>
  <% include /partial/header %>

  <div class="container">

    <div class="row">
      <div class="col s12">
        <div class="card hoverable grey lighten-4">
          <div class="row">
            <div style="padding-left: 2%; padding-right:2%;">
              <div class="col m4 l4 s6">
                <div class="input-field">
                  <input type="date" class="datepicker" id="txtInicial" value="">
                  <label for="txtInicial">Fecha Inicial</label>
                </div>
              </div>
              <div class="col m4 l4 s6">
                <div class="input-field">
                  <input type="date" class="datepicker" id="txtFinal" value="">
                  <label for="txtFinal">Fecha Final</label>
                </div>
              </div>
              <div class="col m2 l2 s6 valign-wrapper input-field center">
                <button type="button" class="btn blue waves-effect valign hide-print" id="btnGenerar">Generar</button>
              </div>
              <div class="col m2 l2 s6 valign-wrapper input-field center">
                <button type="button" class="btn blue waves-effect valign hide-print" id="btnImprimir">Imprimir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="card hoverable grey lighten-4 hid" id="cardCaja">
          <div class="container">
            <span class="card-title"><strong>Caja</strong></span>
            <table class="striped" id="tblCaja">
              <thead>
                <th>Descripcion</th>
                <th>Total</th>
              </thead>
              <tbody id="tblCaja">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col s6 car">
        <div class="card hoverable grey lighten-4 hid" id="cardIngresos">
          <div class="container">
            <span class="card-title"><strong>Ingresos</strong></span>
            <table class="striped" >
              <thead>
                <th>#</th>
                <th>Vendedor</th>
                <th>Total</th>
              </thead>
              <tbody id="tblIngresos">

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col s6 car">
        <div class="card hoverable grey lighten-4 hid" id="cardEgresos">
          <div class="container">
            <span class="card-title"><strong>Egresos</strong></span>
            <table class="striped" >
              <thead>
                <th>#</th>
                <th>Descripcion</th>
                <th>Gasto</th>
              </thead>
              <tbody id="tblEgresos">

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
  <% include /partial/footer %>
  <script src="./js/caja.js"></script>
</body>
</html>
