<!DOCTYPE html>
<html>
<head>
  <% include /partial/head %>
  <title>Caja Chica</title>
</head>
<body>
  <% include /partial/header %>

  <div class="container">

    <div id="fabButton" class="fixed-action-btn" style="bottom: 10%; right: 5%;">
      <a id="btnAdd" class="modal-trigger waves-effect waves-light btn-large red btn-floating" href="#mdlNuevo">
        <i class="large material-icons">add</i>
      </a>
    </div>

    <div class="card grey lighten-4 hoverable valign card-margin">
      <div class="progress" id="progressBar">
        <div class="indeterminate"></div>
      </div>
      <div class="card-content black-text">
        <span class="card-title"><strong>Caja Chica</strong></span>
        <div class="right">
          <div class="row">
            <div class="input-field col-s4">
              <i class="material-icons prefix left">search</i>
              <input type="text" id="txtSearch" value="">
              <label for="txtSearch">Buscar</label>

            </div>
          </div>
        </div>
        <br/><br/>
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Descripcion</th>
              <th>Agregado</th>
              <th>Gasto</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="tblRegistros">

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--  MODALS  -->

<!-- NUEVO Registro -->
<div id="mdlNuevo" class="modal">
  <div class="modal-content">
      <div class="valign">
        <h4>Nuevo Registro</h4>
        <div class="input-field margin-on-modal">
						<input id="txtDesc" type="text" class="validate" required>
						<label for="txtDesc" style="text-align: left;">Descripcion</label>
				</div>
        <div class="input-field margin-on-modal">
						<input id="txtGasto" type="text" class="validate" required>
						<label for="txtGasto" style="text-align: left;">Gasto</label>
				</div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" id="btnAgregar">Agregar</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>


<!-- EDITAR Registro -->
<div id="mdlEditar" class="modal">
  <div class="modal-content">
      <div class="valign">
        <h4>Modificar Registro</h4>
        <input type="hidden" id="txtEdAgregado" value="">
        <div class="input-field margin-on-modal">
						<input id="txtEdDesc" type="text" class="validate" value=" ">
						<label for="txtEdDesc" style="text-align: left;">Descripcion</label>
				</div>
        <div class="input-field margin-on-modal">
						<input id="txtEdGasto" type="text" class="validate" value=" ">
						<label for="txtEdGasto" style="text-align: left;">Gasto</label>
				</div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" id="btnModificar">Modificar</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>

<!-- ELIMINAR Registro -->
<div id="mdlEliminar" class="modal">
  <div class="modal-content">
      <div class="valign">
        <h4>Eliminar Registro</h4>
        <p>
          Esta seguro de que desea eliminar el Registro?
        </p>
      </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" id="btnEliminar">Eliminar</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>

  <% include /partial/footer %>
<script src="../js/cajaChica.js"></script>
</body>
</html>
