<!DOCTYPE html>
<html>
<head>
  <% include /partial/head %>
  <title>Configuracion</title>
</head>
<body>
  <% include /partial/header %>

  <script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#imgLogo')
        .attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
  </script>

  <div class="container">
    <div class="card grey lighten-4 hoverable valign card-margin">
      <div class="card-image">
        <img src="../uploads/fotoEmpresa" alt="Logo" id="imgLogo" />
      </div>
      <div class="progress" id="progressBar">
        <div class="indeterminate"></div>
      </div>
      <div class="card-content black-text">
        <span class="card-title"><strong><i class="material-icons">settings</i>Configuracion</strong></span>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" id="txtNombre" value=" ">
            <label for="txtNombre">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtTelefono" value=" ">
            <label for="txtTelefono">Telefono</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtEmail" value=" ">
            <label for="txtEmail">Email</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtIva" value=" ">
            <label for="txtIva">IVA</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtMoneda" value=" ">
            <label for="txtMoneda">Simbolo de Moneda</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtDireccion" value=" ">
            <label for="txtDireccion">Direccion</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtCiudad" value=" ">
            <label for="txtCiudad">Ciudad</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtRegion" value=" ">
            <label for="txtRegion">Region / Provincia</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="txtCodPostal" value=" ">
            <label for="txtCodPostal">Codigo Postal</label>
          </div>
          <div class="col s6">
            <form id        =  "uploadForm"
            enctype   =  "multipart/form-data"
            action    =  "/api/photo"
            method    =  "post"
            >
            <div class="file-field input-field col s6">
              <div class="btn blue waves-effect light-waves">
                <span>Seleccionar</span>
                <input type="file" onchange="readURL(this);" name="userPhoto">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div><br/>
            <input type="submit" class="btn blue" value="Subir Imagen" name="submit">
          </form>
        </div>
      </div>
    </div>
    <div class="card-action">
      <button type="button" id="btnActualizar" class="btn blue waves-effect light-waves" name="button"><i class="material-icons">sync</i> Actualizar</button>
    </div>
  </div>
</div>


<% include /partial/footer %>
<script src="../js/configuracion.js" charset="utf-8"></script>
</body>
</html>
