<!DOCTYPE html>
<html>
<head>
  <title>Reporte Factura</title>
<link rel="stylesheet" href="../css/reporte.css" media="screen" title="no title">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body class="none-margin">
  <div class="none-margin" id="divPrint">
      <div class="center">
        <div class="row none-margin">
          <div class="col s6">
            <img src="../uploads/fotoEmpresa" style="width: 100%; height:auto" alt="LOGO" class="left" />
          </div>
          <div class="col s6">
            <h4 id="txtNumFac" class="right"></h4>
            <h4 id="txtAgregado" class="right"></h4>
          </div>
        </div>
      </div>

      <table class="none-margin">
        <tbody class="grey black-text">
          <th id="tblCliente">Nombre: </th>
          <th id="tblVendedor">Vendedor: </th>
          <th id="tblFecha">Fecha: </th>
        </tbody>
      </table>

      <table class="none-margin">
        <thead class="grey black-text">
          <th class="padd-5">Cantidad</th>
          <th class="padd-5">Descripcion</th>
          <th class="padd-5">Precio Unit.</th>
          <th class="padd-5">Precio Total</th>
          <th class="padd-5"></th>
        </thead>
        <tbody id="tblDescripcion"></tbody>
      </table>
      <p class="center"><strong>!Gracias por su compra!</strong></p>
      <p class="center" id="txtTelefono"></p>
      <p class="center" id="txtEmail"></p>

  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
  <script src="https://github.com/niklasvh/html2canvas/releases/download/0.5.0-alpha1/html2canvas.js" charset="utf-8"></script>
  <script src="../js/facturagenerada.js" charset="utf-8"></script>
</body>
</html>
