<!DOCTYPE html>
<html>
<head>
  <% include /partial/head %>
  <title>Usuarios</title>
</head>
<body>
  <% include /partial/header %>

  <div class="container">

    <div id="fabButton" class="fixed-action-btn" style="bottom: 10%; right: 5%;">
      <a id="btnAdd" class="modal-trigger waves-effect waves-light btn-large red btn-floating" href="#mdlNuevo">
        <i class="large material-icons">add</i>
      </a>
    </div>

    <div class="card grey lighten-4 hoverable valign card-margin">
      <div class="progress" id="progressBar">
        <div class="indeterminate"></div>
      </div>
      <div class="card-content black-text">
        <span class="card-title"><strong>Usuarios</strong></span>
        <div class="right">
          <div class="row">
            <div class="input-field col-s4">
              <i class="material-icons prefix left">search</i>
              <input type="text" id="txtSearch" value="">
              <label for="txtSearch">Buscar</label>

            </div>
          </div>
        </div>
        <br/><br/>
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombres</th>
              <th>Usuario</th>
              <th>Email</th>
              <th>Rol</th>
              <th>Agregado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="tblUsuarios">

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--  MODALS  -->

<!-- NUEVO USUARIO -->
<div id="mdlNuevo" class="modal">
  <div class="modal-content">
      <div class="valign">
        <h4>Nuevo Usuario</h4>
        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">face</i>
						<input id="txtName" type="text" class="validate" required>
						<label for="txtName" style="text-align: left;">Nombre</label>
				</div>
        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">account_circle</i>
						<input id="txtUsername" type="text" class="validate" required>
						<label for="txtUsername" style="text-align: left;">Usuario</label>
				</div>
        <div class="input-field margin-on-modal">
          <i class="material-icons prefix">build</i>
            <select id="slcRol">
              <option value="1">Admin</option>
              <option value="2">Comun</option>
              <option value="3">Administrativo</option>
              <option value="4">Operativo</option>
            </select>
            <label>Rol</label>
          </div>
        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">email</i>
						<input id="txtEmail" type="email" class="validate" required>
						<label for="txtEmail" style="text-align: left;">Email</label>
				</div>
				<div class="input-field margin-on-modal">
						<i class="material-icons prefix">lock</i>
						<input id="txtPassword" type="password" class="validate" required>
						<label for="txtPassword" style="text-align: left;">Password</label>
				</div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" id="btnAgregar">Agregar</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>


<!-- EDITAR USUARIO -->
<div id="mdlEditar" class="modal">
  <div class="modal-content">
      <div class="valign">
        <h4>Modificar Usuario</h4>
        <input type="hidden" id="txtEdFecha" value="">
        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">face</i>
						<input id="txtEdName" type="text" class="validate" value=" ">
						<label for="txtEdName" style="text-align: left;">Nombre</label>
				</div>
        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">account_circle</i>
						<input id="txtEdUsername" type="text" class="validate" value=" ">
						<label for="txtEdUsername" style="text-align: left;">Usuario</label>
				</div>
        <div class="input-field margin-on-modal">

          <i class="material-icons prefix">build</i>
            <select id="slcEdRol" class="browser-default" style="margin-left:7%">
              <option value="1">Admin</option>
              <option value="2">Comun</option>
              <option value="3">Administrativo</option>
              <option value="4">Operativo</option>
            </select>

          </div>
        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">email</i>
						<input id="txtEdEmail" type="text" class="validate" value=" ">
						<label for="txtEdEmail" style="text-align: left;">Email</label>
				</div>
				<input id="txtEdPassword" type="hidden" class="validate" value="">
      </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" id="btnModificar">Modificar</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>

<!-- EDITAR CONTRASEÑA -->
<div id="mdlCambiar" class="modal">
  <div class="modal-content">
      <div class="valign">
        <h4>Cambiar Contraseña</h4>
        <input type="hidden" id="txtChFecha" value="">
				<input id="txtChName" type="hidden" class="validate" value="">
				<input id="txtChUsername" type="hidden" class="validate" value="">
				<input id="txtChEmail" type="hidden" class="validate" value="">

        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">lock</i>
						<input id="txtChPassword" type="password" class="validate">
						<label for="txtChPassword" style="text-align: left;">Password</label>
				</div>
        <div class="input-field margin-on-modal">
						<i class="material-icons prefix">lock</i>
						<input id="txtCh2Password" type="password" class="validate">
						<label for="txtCh2Password" style="text-align: left;">Repetir Password</label>
				</div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" id="btnCambiar">Cambiar</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>

<!-- ELIMINAR USUARIO -->
<div id="mdlEliminar" class="modal">
  <div class="modal-content">
      <div class="valign">
        <h4>Eliminar Usuario</h4>
        <p>
          Esta seguro de que desea eliminar el usuario?
        </p>
      </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" id="btnEliminar">Eliminar</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  </div>
</div>

  <% include /partial/footer %>
<script src="./js/usuario.js"></script>
</body>
</html>
