body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
}

.card-margin{
  margin-top: 5%;
  margin-bottom: 5%;
}

.container-flow{
  width: 85%;
}

.margin-on-modal{
  margin-left: 10%;
  margin-right:  10%;
}
